<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044973323065-6ofh6ao7lp537udufevbm0nf1p1q7t3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044973323065-6ofh6ao7lp537udufevbm0nf1p1q7t3o</string>
	<key>API_KEY</key>
	<string>AIzaSyAPQX3XS3Ho8P1nlvXYfzHl74E8cZlQP-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1044973323065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.pinkfedora.bubble</string>
	<key>PROJECT_ID</key>
	<string>bubble-twist</string>
	<key>STORAGE_BUCKET</key>
	<string>bubble-twist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044973323065:ios:264888cd8d968ea7</string>
	<key>DATABASE_URL</key>
	<string>https://bubble-twist.firebaseio.com</string>
</dict>
</plist>